@charset "UTF-8";

:root{
  --main-bg-color: #3a3a3a;
  --main-secondarybg-color: #5C5C5C;
  --main-text-color: #B4B4B4;
  --second-text-color: #cccbcb;
  --highlight-color: rgb(255, 177, 103);
  --highlight-hover-color: rgb(197, 138, 82);
  --darkest-color: #000000;
  --lightest-color: #ffffff;
  --correct-color: #3e613e;
  --wrong-color: #795050;
}

.dark
{
  --main-bg-color: #3a3a3a;
  --main-secondarybg-color: #5C5C5C;
  --main-text-color: #B4B4B4;
  --second-text-color: #cccbcb;
  --highlight-color: rgb(255, 177, 103);
  --highlight-hover-color: rgb(197, 138, 82);
  --darkest-color: #000000;
  --lightest-color: #ffffff;
  --correct-color: #3e613e;
  --wrong-color: #795050;
}

.light{
  --main-bg-color: #dadada;
  --main-secondarybg-color: #bbbbbb;
  --main-text-color: #1d1d1d;
  --second-text-color: #414141;
  --highlight-color: rgb(36, 75, 63);
  --highlight-hover-color: rgb(70, 148, 125);
  --darkest-color: #ffffff;
  --lightest-color: #000000;
  --correct-color: #7cbe7c;
  --wrong-color: #be7d7d;
}

body {
  background: var(--main-bg-color);
  padding: 5% 0 0 0;
}

h1{
  color:var(--main-text-color);
  text-align: center;
  margin-bottom: 5%;
}

h2{
  color:var(--main-text-color);
  text-align: center;
  margin-bottom: 5%;
}

label{
  text-align: center;
  height: 100%;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
}

.noFill {
  fill: none;
}

.container {
  width: 100%;
  float: left;
  padding: 15px;
}

ul.todo {
  width: 100%;
  float: left;
}

ul.todo li {
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color:var(--second-text-color);
  line-height: 22px;

  background: var(--main-secondarybg-color);
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
  margin: 0 0 10px 0;
  padding: 14px 150px 14px 14px;
  word-break: break-word;
}

ul.todo li:last-of-type {
  margin: 0;
}

ul.todo li .buttons {
  width: 150px;
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;
}

ul.todo li .buttons button {
  width: 50px;
  height: 50px;
  float: left;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

ul.todo li .buttons button:last-of-type:before {
  content: '';
  width: 1px;
  height: 30px;
  background: var(--highlight-color);

  position: absolute;
  top: 10px;
  left: 0;
}

ul.todo li .buttons button svg {
  width: 22px;
  height: 22px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.complete svg {
  border-radius: 11px;
  border: 1.5px solid var(--highlight-color);

  transition: background 0.2s ease;
}

ul.todo#completed li .buttons button.complete svg {
  background:var(--highlight-color);
  border: 0px;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg {
  background:var(--highlight-color);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
  fill: var(--darkest-color);
}

ul.todo#completed li .buttons button.complete svg .fill {
  fill: var(--darkest-color);
}

ul.todo li .buttons button svg .fill {
  fill: var(--lightest-color);
  transition: fill 0.2s ease;
}

ul.todo#completed {
  position: relative;
  padding: 60px 0 0 0;
}

ul.todo#completed:before {
  content: '';
  width: 60%;
  height: 1px;
  background:var(--highlight-color);

  position: absolute;
  top: 30px;
  left: 20%;

  margin: 0 0 0 0px;
}

ul.todo#todo:empty:after {
  content: 'Done';
  margin: 15px 0 0 0;
}

ul.todo#completed:empty:after {
  content: 'Complete a Task';
}

ul.todo#todo:after,
ul.todo#completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: var(--highlight-color);
}

/*othertodo*/
ul.otherTodo {
  width: 100%;
  float: left;
}

ul.otherTodo li {
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: var(--second-text-color);
  line-height: 22px;

  background: var(--main-secondarybg-color);
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
  margin: 0 0 10px 0;
  padding: 14px 150px 14px 14px;
  word-break: break-word;
}

ul.otherTodo li:last-of-type {
  margin: 0;
}

ul.otherTodo li .buttons {
  width: 150px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

ul.otherTodo li .buttons button {
  width: 50px;
  height: 50px;
  float: left;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

ul.otherTodo li .buttons button:last-of-type:before {
  content: '';
  width: 1px;
  height: 30px;
  background: var(--highlight-color);

  position: absolute;
  top: 10px;
  left: 0;
}

ul.otherTodo li .buttons button svg {
  width: 22px;
  height: 22px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -11px 0 0 -11px;
}

ul.otherTodo li .buttons button.complete svg {
  border-radius: 11px;
  border: 1.5px solid var(--highlight-color);

  transition: background 0.2s ease;
}

ul.otherTodo#otherCompleted li .buttons button.complete svg {
  background: var(--highlight-color);
  border: 0px;
}

ul.otherTodo:not(#otherCompleted) li .buttons button.complete:hover svg {
  background: var(--highlight-color);
}

ul.otherTodo:not(#otherCompleted) li .buttons button.complete:hover svg .fill {
  fill: var(--darkest-color);
}

ul.otherTodo#otherCompleted li .buttons button.complete svg .fill {
  fill: var(--darkest-color);
}

ul.otherTodo li .buttons button svg .fill {
  transition: fill 0.2s ease;
  fill: var(--lightest-color);
}

ul.otherTodo#otherCompleted {
  position: relative;
  padding: 60px 0 0 0;
}

ul.otherTodo#otherCompleted:before {
  content: '';
  width: 60%;
  height: 1px;
  background: var(--highlight-color);

  position: absolute;
  top: 30px;
  left: 20%;

  margin: 0 0 0 0px;
}

ul.otherTodo#otherTodo:empty:after {
  content: 'Done';
  margin: 15px 0 0 0;
}

ul.otherTodo#otherCompleted:empty:after {
  content: 'Complete a Task';
}

ul.otherTodo#otherTodo:after,
ul.otherTodo#otherCompleted:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: var(--highlight-color);
}

/*Another TODO*/
ul.anotherTodo {
  width: 100%;
  float: left;
}

ul.anotherTodo li {
  width: 100%;
  min-height: 100px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: var(--second-text-color);
  line-height: 22px;
  text-align: center;

  background: var(--main-secondarybg-color);
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
  margin: 0 0 10px 0;
  padding: 14px 14px 14px 14px;
  word-break: break-word;
}

ul.anotherTodo li:last-of-type {
  margin: 0;
}

ul.anotherTodo li .buttons {
  width: 100%;
  height: 50px;

  position: relative;
  top: 0;
  right: 0;
}

ul.anotherTodo li .buttons button {
  width: 20%;
  height: 50px;
  float: left;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  color: var(--highlight-color);

  -webkit-appearance: none;
  -moz-appearance: none;
}


ul.anotherTodo li .buttons button svg {
  width: 22px;
  height: 22px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -11px 0 0 -11px;
}

ul.anotherTodo li .buttons button.complete svg {
  border-radius: 11px;
  border: 1.5px solid #25b99a;

  transition: background 0.2s ease;
}

ul.anotherTodo#anotherCompleted li .buttons button.complete svg {
  background: #25b99a;
  border: 0px;
}

ul.anotherTodo:not(#anotherCompleted) li .buttons button.complete:hover svg {
  background: rgba(37, 185, 154, 0.75);
}

ul.anotherTodo:not(#anotherCompleted) li .buttons button.complete:hover svg .fill {
  fill: #fff;
}

ul.anotherTodo#anotherCompleted li .buttons button.complete svg .fill {
  fill: #fff;
}

ul.anotherTodo li .buttons button svg .fill {
  transition: fill 0.2s ease;
}

ul.anotherTodo#anotherCompleted {
  position: relative;
  padding: 0px 0 0 0;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid rgb(71, 71, 71);
  background-color: var(--main-secondarybg-color);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  color: var(--highlight-color);
  background-color: var(--main-secondarybg-color);
  font-weight: 700;
  background-color: inherit;
  float: left;
  width: 25%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #2b2b2b;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--highlight-color);
  color: var(--darkest-color);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid var(--main-secondarybg-color);
  border-top: none;
  height: 74%;
}

.fa {
  color: var(--highlight-color);
}

.fa:hover{
  color: var(--lightest-color);
}

button.quiz {
  border: 1px solid var(--main-secondarybg-color)!important;
  border-radius: 4px;
  background-color:var(--main-bg-color)!important;
  color: var(--lightest-color)!important;
  width: 30%!important;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
  font-weight: 800;
}

button.quiz:hover {
  border: 1px solid #7e7e7e!important;
  background-color: #7e7d7d!important;
}

button.quiz.correct {
  border: 1px solid var(--correct-color)!important;
  background-color: var(--correct-color)!important;
  width: 30%!important;
}
button.quiz.incorrect {
  border: 1px solid var(--wrong-color)!important;
  background-color: var(--wrong-color)!important;
  width: 30%!important;
}

button {
  color: var(--lightest-color);
  font-weight: 700;
}

button.ticks {
  font-size: xx-large;
  color: var(--darkest-color)!important;
  border: 1px solid var(--highlight-color)!important;
  background-color: var(--highlight-color)!important;
  border-radius: 4px;
}

button.ticks:hover {
  font-size: xx-large;
  color: var(--darkest-color)!important;
  border: 1px solid var(--highlight-hover-colorr)!important;
  background-color: var(--highlight-hover-color)!important;
  border-radius: 4px;
}

#sliderContainer {
  height: 50px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

input[type="checkbox" i] {
    width: 0px;
    height: 0px;
    opacity: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  height: 40px;
  width: 60px;
  top: 20px;
  right: 10%;
  bottom: 0;
  background-color: var(--highlight-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: var(--main-secondarybg-color) url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: var(--highlight-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--highlight-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: var(--main-secondarybg-color) url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}